.App {
  text-align: center;
}
legend {
  border-bottom: none;
}
strong {
  font-weight: 550;
}
html {
  font-family: 'Roboto', sans-serif !important;
}
body {
  font-family: 'Roboto', sans-serif !important;
  height: 100%;
}
h1{
  font-weight: 500;
}
h2{
  font-weight: 500;
}
h3{
  font-weight: 500;
}
h4{
  font-weight: 500;
}
h5{
  font-weight: 500;
}
h6{
  font-weight: 500;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: large;
}
.flexChildren{
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.line-break {
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=time] {
  -moz-appearance:textfield;
}
html { font-size: 62.5%; }
body { font-size: 14px; overflow-x: hidden;}

@media (max-width: 300px) {
  html { font-size: 70%; }
}

@media (min-width: 500px) {
  html { font-size: 80%; }
}

@media (min-width: 700px) {
  html { font-size: 90%; }
}

@media (min-width: 1200px) {
  html { font-size: 100%; }
}
@media (min-width: 1920px) {
  html { font-size: 100%; }
}


@media (max-width: 767px) {
  .col-xs-0-5, .col-xs-1-5, .col-xs-2-5, .col-xs-3-5, .col-xs-4-5, .col-xs-5-5, .col-xs-6-5, .col-xs-7-5, .col-xs-8-5, .col-xs-9-5, .col-xs-10-5, .col-xs-11-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xs-0-5 {
    width: 4.167%
  }

  .col-xs-1-5 {
    width: 12.5%
  }

  .col-xs-2-5 {
    width: 20.83%;
  }
  .col-xs-3-5 {
    width: 29.16%;
  }
  .col-xs-4-5 {
    width: 37.5%;
  }
  .col-xs-5-5 {
    width: 45.83%;
  }
  .col-xs-6-5 {
    width: 54.16%;
  }
  .col-xs-7-5 {
    width: 62.5%;
  }
  .col-xs-8-5 {
    width: 70.83%;
  }
  .col-xs-9-5 {
    width: 79.16%;
  }
  .col-xs-10-5 {
    width: 87.5%;
  }
  .col-xs-11-5 {
    width: 95.83%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-0-5, .col-sm-1-5, .col-sm-2-5, .col-sm-3-5, .col-sm-4-5, .col-sm-5-5, .col-sm-6-5, .col-sm-7-5, .col-sm-8-5, .col-sm-9-5, .col-sm-10-5, .col-sm-11-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-0-5 {
    width: 4.167%
  }

  .col-sm-1-5 {
    width: 12.5%
  }

  .col-sm-2-5 {
    width: 20.83%;
  }
  .col-sm-3-5 {
    width: 29.16%;
  }
  .col-sm-4-5 {
    width: 37.5%;
  }
  .col-sm-5-5 {
    width: 45.83%;
  }
  .col-sm-6-5 {
    width: 54.16%;
  }
  .col-sm-7-5 {
    width: 62.5%;
  }
  .col-sm-8-5 {
    width: 70.83%;
  }
  .col-sm-9-5 {
    width: 79.16%;
  }
  .col-sm-10-5 {
    width: 87.5%;
  }
  .col-sm-11-5 {
    width: 95.83%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-0-5, .col-md-1-5, .col-md-2-5, .col-md-3-5, .col-md-4-5, .col-md-5-5, .col-md-6-5, .col-md-7-5, .col-md-8-5, .col-md-9-5, .col-md-10-5, .col-md-11-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-0-5 {
    width: 4.167%
  }

  .col-md-1-5 {
    width: 12.5%
  }

  .col-md-2-5 {
    width: 20.83%;
  }
  .col-md-3-5 {
    width: 29.16%;
  }
  .col-md-4-5 {
    width: 37.5%;
  }
  .col-md-5-5 {
    width: 45.83%;
  }
  .col-md-6-5 {
    width: 54.16%;
  }
  .col-md-7-5 {
    width: 62.5%;
  }
  .col-md-8-5 {
    width: 70.83%;
  }
  .col-md-9-5 {
    width: 79.16%;
  }
  .col-md-10-5 {
    width: 87.5%;
  }
  .col-md-11-5 {
    width: 95.83%;
  }
}


@media (min-width: 1200px) {
  .col-lg-0-5, .col-lg-1-5, .col-lg-2-5, .col-lg-3-5, .col-lg-4-5, .col-lg-5-5, .col-lg-6-5, .col-lg-7-5, .col-lg-8-5, .col-lg-9-5, .col-lg-10-5, .col-lg-11-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-0-5 {
    width: 4.167%
  }

  .col-lg-1-5 {
    width: 12.5%
  }

  .col-lg-2-5 {
    width: 20.83%;
  }
  .col-lg-3-5 {
    width: 29.16%;
  }
  .col-lg-4-5 {
    width: 37.5%;
  }
  .col-lg-5-5 {
    width: 45.83%;
  }
  .col-lg-6-5 {
    width: 54.16%;
  }
  .col-lg-7-5 {
    width: 62.5%;
  }
  .col-lg-8-5 {
    width: 70.83%;
  }
  .col-lg-9-5 {
    width: 79.16%;
  }
  .col-lg-10-5 {
    width: 87.5%;
  }
  .col-lg-11-5 {
    width: 95.83%;
  }
}

.breadcrumb{
  padding: 8px 15px;
  margin-bottom: 0px !important;
  list-style: none;
  background-color: white !important;
  border-radius: 4px;
  display: flex;
}

.breadcrumb span {
  display: flex;
}

.display-flex {
  display: flex;
}

.flo-right {
  float: right;
}

.clear-both {
  clear: both;
}

.align-center {
  align-items: center;
}

.min-h1 {
  min-height: 1rem;
}

.min-h2 {
  min-height: 2rem;
}

.min-h2-5 {
  min-height: 2.5rem;
}

.min-h3 {
  min-height: 3rem;
}

.min-h4 {
  min-height: 4rem;
}

.min-h5 {
  min-height: 5rem;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-right {
    justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.flex-direction-column {
  flex-direction: column;
}

.margin-left8 {
    margin-left: 8px;
}

.margin-right8 {
    margin-right: 8px;
}

.padding-left8 {
    padding-left: 8px;
}

.max-h100 {
    max-height: 100% !important;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflowVisible {
  overflow: visible;
}

.fullWidth {
  width: 100%;
}
.fullWidthImportant {
  width: 100% !important;
}
.p1 {
  padding: 1rem !important;
}

.p2 {
  padding: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.p0-4{
  padding-left: 0.4rem;
}

.align-items-center {
  align-items: center;
}

.pb-1 {
  padding-bottom: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem !important;
}
.pr-1 {
  padding-right: 1rem !important;
}

.mt-0-5 {
  margin-top: 0.5rem !important;
}
.mb-0-5 {
  margin-bottom: 0.5rem !important;
}
.m1 {
  margin: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1e {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-4 {
    margin-left: 4em;
}
.ml-5 {
    margin-left: 5em;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-1-1 {
  font-size: 1.1rem;
}

.font-size-1-3 {
  font-size: 1.3rem;
}

.font-size-3 {
  font-size: 3rem;
}
.font-size-2 {
  font-size: 2rem;
}

label {
  font-weight: 400 !important;
}

@media (min-width: 600px) and (max-width: 960px) {
  .margin-left72 {
    margin-left: 72px;
  }

  .position-fixed {
    position: fixed !important;
  }
}

.cursor-pointer {
    cursor: pointer;
}

.not-allowed{
    cursor: not-allowed;
}

.font-weight-500 {
    font-weight: 500;
}

.pt-6px {
    padding-top: 6px;
}

.position-relative {
  position: relative;
}

.height-100 {
  height: 100%;
}
.height-45-px {
  height: 45px;
}

.gradient-background-right{
  background: linear-gradient(to right, #3A1AE4, #2FBDCC)
}

.box-shadow {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}



@media (min-width: 1920px) {
  .grid-xl-0-5 {
    flex-grow: 0;
    max-width: 4.166666%;
    flex-basis: 4.166666%;
  }
  .grid-xl-1-5 {
    flex-grow: 0;
    max-width: 12.5%;
    flex-basis: 12.5%;
  }
  .grid-xl-2-5 {
    flex-grow: 0;
    max-width: 20.8333%;
    flex-basis: 20.8333%;
  }
  .grid-xl-3-5 {
    flex-grow: 0;
    max-width: 29.166666667%;
    flex-basis: 29.166666667%;
  }
  .grid-xl-4-5 {
    flex-grow: 0;
    max-width: 37.5%;
    flex-basis: 37.5%;
  }
  .grid-xl-5-5 {
    flex-grow: 0;
    max-width: 45.833333333%;
    flex-basis: 45.833333333%;
  }
  .grid-xl-6-5 {
    flex-grow: 0;
    max-width: 54.166666667%;
    flex-basis: 54.166666667%;
  }
  .grid-xl-7-5 {
    flex-grow: 0;
    max-width: 62.5%;
    flex-basis: 62.5%;
  }
  .grid-xl-8-5 {
    flex-grow: 0;
    max-width: 70.833333333%;
    flex-basis: 70.833333333%;
  }
  .grid-xl-9-5 {
    flex-grow: 0;
    max-width: 79.166666667%;
    flex-basis: 79.166666667%;
  }
  .grid-xl-10-5 {
    flex-grow: 0;
    max-width: 87.5%;
    flex-basis: 87.5%;
  }
  .grid-xl-11-5 {
    flex-grow: 0;
    max-width: 95.833333333%;
    flex-basis: 95.833333333%;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .grid-lg-0-5 {
    flex-grow: 0;
    max-width: 4.166666%;
    flex-basis: 4.166666%;
  }
  .grid-lg-1-5 {
    flex-grow: 0;
    max-width: 12.5%;
    flex-basis: 12.5%;
  }
  .grid-lg-2-5 {
    flex-grow: 0;
    max-width: 20.8333%;
    flex-basis: 20.8333%;
  }
  .grid-lg-3-5 {
    flex-grow: 0;
    max-width: 29.166666667%;
    flex-basis: 29.166666667%;
  }
  .grid-lg-4-5 {
    flex-grow: 0;
    max-width: 37.5%;
    flex-basis: 37.5%;
  }
  .grid-lg-5-5 {
    flex-grow: 0;
    max-width: 45.833333333%;
    flex-basis: 45.833333333%;
  }
  .grid-lg-6-5 {
    flex-grow: 0;
    max-width: 54.166666667%;
    flex-basis: 54.166666667%;
  }
  .grid-lg-7-5 {
    flex-grow: 0;
    max-width: 62.5%;
    flex-basis: 62.5%;
  }
  .grid-lg-8-5 {
    flex-grow: 0;
    max-width: 70.833333333%;
    flex-basis: 70.833333333%;
  }
  .grid-lg-9-5 {
    flex-grow: 0;
    max-width: 79.166666667%;
    flex-basis: 79.166666667%;
  }
  .grid-lg-10-5 {
    flex-grow: 0;
    max-width: 87.5%;
    flex-basis: 87.5%;
  }
  .grid-lg-11-5 {
    flex-grow: 0;
    max-width: 95.833333333%;
    flex-basis: 95.833333333%;
  }
}

@media (min-width: 960px) and (max-width: 1280px) {
  .grid-md-0-5 {
    flex-grow: 0;
    max-width: 4.166666%;
    flex-basis: 4.166666%;
  }
  .grid-md-1-5 {
    flex-grow: 0;
    max-width: 12.5%;
    flex-basis: 12.5%;
  }
  .grid-md-2-5 {
    flex-grow: 0;
    max-width: 20.8333%;
    flex-basis: 20.8333%;
  }
  .grid-md-3-5 {
    flex-grow: 0;
    max-width: 29.166666667%;
    flex-basis: 29.166666667%;
  }
  .grid-md-4-5 {
    flex-grow: 0;
    max-width: 37.5%;
    flex-basis: 37.5%;
  }
  .grid-md-5-5 {
    flex-grow: 0;
    max-width: 45.833333333%;
    flex-basis: 45.833333333%;
  }
  .grid-md-6-5 {
    flex-grow: 0;
    max-width: 54.166666667%;
    flex-basis: 54.166666667%;
  }
  .grid-md-7-5 {
    flex-grow: 0;
    max-width: 62.5%;
    flex-basis: 62.5%;
  }
  .grid-md-8-5 {
    flex-grow: 0;
    max-width: 70.833333333%;
    flex-basis: 70.833333333%;
  }
  .grid-md-9-5 {
    flex-grow: 0;
    max-width: 79.166666667%;
    flex-basis: 79.166666667%;
  }
  .grid-md-10-5 {
    flex-grow: 0;
    max-width: 87.5%;
    flex-basis: 87.5%;
  }
  .grid-md-11-5 {
    flex-grow: 0;
    max-width: 95.833333333%;
    flex-basis: 95.833333333%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .grid-sm-0-5 {
    flex-grow: 0;
    max-width: 4.166666%;
    flex-basis: 4.166666%;
  }
  .grid-sm-1-5 {
    flex-grow: 0;
    max-width: 12.5%;
    flex-basis: 12.5%;
  }
  .grid-sm-2-5 {
    flex-grow: 0;
    max-width: 20.8333%;
    flex-basis: 20.8333%;
  }
  .grid-sm-3-5 {
    flex-grow: 0;
    max-width: 29.166666667%;
    flex-basis: 29.166666667%;
  }
  .grid-sm-4-5 {
    flex-grow: 0;
    max-width: 37.5%;
    flex-basis: 37.5%;
  }
  .grid-sm-5-5 {
    flex-grow: 0;
    max-width: 45.833333333%;
    flex-basis: 45.833333333%;
  }
  .grid-sm-6-5 {
    flex-grow: 0;
    max-width: 54.166666667%;
    flex-basis: 54.166666667%;
  }
  .grid-sm-7-5 {
    flex-grow: 0;
    max-width: 62.5%;
    flex-basis: 62.5%;
  }
  .grid-sm-8-5 {
    flex-grow: 0;
    max-width: 70.833333333%;
    flex-basis: 70.833333333%;
  }
  .grid-sm-9-5 {
    flex-grow: 0;
    max-width: 79.166666667%;
    flex-basis: 79.166666667%;
  }
  .grid-sm-10-5 {
    flex-grow: 0;
    max-width: 87.5%;
    flex-basis: 87.5%;
  }
  .grid-sm-11-5 {
    flex-grow: 0;
    max-width: 95.833333333%;
    flex-basis: 95.833333333%;
  }
}

.anlaytics-widget-spinner {
  display: flex;
  align-items: center;
  height: 80%;
  font-size: 1.2rem;
  justify-content: center;
}

.common-border {
  border-bottom: 1px solid #0000001f;
}

.mt-w50 {
  width: 50%;
}

.mt-w80 {
  width: 80%;
}

.bigLabel {
  font-size: 1rem;
  font-weight: 550;
}

.bigLabel2Rem {
  font-size: 2rem;
  font-weight: 550;
}

.centerAlignedLabel {
  display: flex;
  justify-content: center;
  font-weight: 550;
  margin-top: 2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sortableHelper {
  z-index: 10000;
}