body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(70, 157, 199);
  border-left: 4px solid white;
  border-right: 4px solid white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 157, 199);
  border-radius: 5px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(70, 157, 199);
}
